body {
    margin: 0 auto;
    /*font-family:'Istok Web', sans-serif;*/
    font-family: Tahoma;
    background-color: #ffffff;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    color: rgb(12, 11, 11);
}

.header {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 2%;
}

.header__item {
    width: 38%;
    margin-left: 12%;
    outline: 2px solid lime;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    outline: 2px solid rgb(55, 0, 255);
    width: 6%;
    margin-left: 11%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .4rem;
}

.button__item {
    border-radius: 3px;
    background:rgb(73, 72, 72);
    color: white;
    padding: 55% 100%;/*отступы внутри*/
    text-decoration: none;/*убрать подчеркивание ссылки*/
    font-size: .6rem;
}

.header__wrap-menu {
    outline: 2px solid rgb(255, 0, 212);
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
}

.header__wrap-menu ul {
    display: flex;
}

.header__wrap-menu li {
    
    padding: 8%;
    font-size: .7rem;
    list-style-type: none;
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}


.header__logo {
    /*display: flex;
    flex-direction: row;
    flex-wrap: nowrap;*/
    font-size: 2rem;
    align-items: center;
}

.logo__wrap {
    display: block;
}

.logo__wrap img {
    display: inline-block;
    height: 30px;
    margin-top: 20px;
}

.logo__heading {

}