body {
    margin: 0 auto;
    /*font-family:'Istok Web', sans-serif;*/
    font-family: Tahoma;
    background-color: #ffffff;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    color: rgb(12, 11, 11);
}

.header {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 2%;
}

.header__item {
    width: 38%;
    margin-left: 12%;
    outline: 2px solid lime;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    outline: 2px solid rgb(55, 0, 255);
    width: 6%;
    margin-left: 11%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .4rem;
}

.button__item {
    border-radius: 3px;
    background:rgb(73, 72, 72);
    color: white;
    padding: 55% 100%;/*отступы внутри*/
    text-decoration: none;/*убрать подчеркивание ссылки*/
    font-size: .6rem;
}

.header__wrap-menu {
    outline: 2px solid rgb(255, 0, 212);
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7.7%;
}

.header__wrap-menu ul {
    display: flex;
}

.header__wrap-menu li {
    padding-left: 13%;
    font-size: .6rem;
    font-weight: 400;
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    margin: 0 2px;
}

a {
    color: black;
    text-decoration: none;
}

.header__logo {
    width: 68%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1.6rem;
    align-items: center;
}

.logo__wrap {
    display: flex;
    align-items: center;
    width: 200px;
}

.logo__wrap img {
    display: inline-block;
    width: 100px;
    margin-top: 48%;
    margin-bottom: 20%;
    align-items: center;
}

.logo__heading {
    font-weight: bold;
    margin-right: 13%;
    align-items: center;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 1px;
}

.line {
    margin-top: 3.6%;
    margin-left: 8%;
    width: 53%;
    border-bottom: 1px solid #e2e2e2;
}

.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.content {
    width: 80%;
}

h2,
p {
    text-align: center;
}

h2 {
    padding-left: 6%;
    font-size: .9rem;
    font-weight: bold;
    margin-top: 2.5%;
    margin-bottom: 3%;
    /*font-family: 'M PLUS 2',sans-serif;*/
    font-family: 'Noto Sans',sans-serif;
    letter-spacing: 1px;
}

p {
    margin-left: 3%;
    color: #8b8a8a;
    padding-left: 5%;
    font-size: .7rem;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.004em;
}

hr {
    border: none;/* Убираем границу */
    background-color: #e2e2e2; /* Цвет линии */
    height: 1px;/* Толщина линии */
    width: 84%;/* Ширина линии */
    margin-left: 12%;
    margin-top: 7%;
}

.portfolio {
    outline: 2px solid palevioletred;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 66%;
    margin-left: 10%;

}

.portfolio__item {
    outline: 2px solid rgb(216, 150, 112);
    width: 25%;
    display: flex;
    justify-content: space-between;
    font-family: 'Prata',
    serif;
    font-style: bold;
    font-size: .8rem;
    font-weight: 800;
    padding-top: 0.5%;
}
 h3 .portfolio__item {
    font-style: semibold;
    font-size: .8rem;
    font-weight: 900;
 }
.portfolio__about {
    outline: 2px solid rgb(112, 216, 147);
    width: 25%;
    margin-left: 50%;
    padding-left: 1%;
    display: flex;
  
    justify-content: space-between;
    align-items: flex-end;
}